/* Testimonials Section Styles */
.testimonials {
    background-color: var(--color-bg); 
    padding-top: 12rem;
    padding-bottom: 12rem;
    position: relative;
    /* Removed text-center on section to allow header alignment */
}

.testimonials__header {
    margin-bottom: 6rem;

    .section-title {
        &::before {
            top: 0;
        }

        h3 {
            top: 7rem;
        }
    }
}

.testimonials__content {
    position: relative;
    justify-content: center;
}

.testimonials .section-title {
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    text-align: left; 
}

/* Standard slider styles below */

.testimonial-slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; /* Slider content center */
    overflow-x: hidden;
}

.testimonial-slider__track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.testimonial-slider__slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 0 4rem;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.testimonial-slider__slide.active {
    opacity: 1;
}

.testimonial-slider p {
    font-size: 2.4rem;
    line-height: 1.852;
    color: white;
    margin-bottom: 3rem;
}

.testimonial-slider__author {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding-left: 0;
}

@media screen and (min-width: 801px) {
    .testimonial-slider__author {
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding-left: 0; 
    }
    .testimonial-slider__avatar {
        margin-right: 2rem;
        margin-bottom: 0;
        position: static;
    }
}

.testimonial-slider__avatar {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.testimonial-slider__cite {
    font-style: normal;
}

.testimonial-slider__cite strong {
    display: block;
    font-size: 1.8rem;
    color: var(--color-1, #d9083c);
    margin-bottom: 0;
}

.testimonial-slider__cite span {
    display: block;
    font-size: 1.4rem;
    color: #888;
}

.slick-arrow {
    z-index: 2;
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    font-size: 0;
    color: transparent;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.slick-arrow:hover {
    opacity: 1;
}

.slick-prev {
    left: 0rem;
    background-image: url("/images/icons/icon-arrow-left.svg");
}

.slick-next {
    right: 0rem;
    background-image: url("/images/icons/icon-arrow-right.svg");
}

.testimonial-slider__controls {
    display: none;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}

.testimonial-slider__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #555;
    border: none;
    padding: 0;
    cursor: pointer;
}

.testimonial-slider__dot.active {
    background-color: var(--color-1, #d9083c);
}


@media screen and (max-width: 900px) {
    .slick-prev { left: -4rem; }
    .slick-next { right: -4rem; }
}

@media screen and (max-width: 600px) {
    .slick-arrow { display: none; }
    .testimonial-slider__controls { display: flex; }
    
    .testimonial-slider p {
        font-size: 1.8rem;
    }

    .testimonials .section-title {
        margin-bottom: 7rem;
    }

    .testimonials__header {
        & .section-title {
            h3 {
                top: 4rem;
            }
        }
    }
}
