.btn {
  display: inline-block;
  font-family: var(--font-2);
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  height: 5.4rem;
  line-height: 5rem;
  padding: 0 3rem;
  margin: 0 0.4rem 1.6rem 0;
  color: var(--color-text-dark);
  background-color: var(--color-gray-15);
  border: 0.2rem solid var(--color-gray-15);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: var(--color-black);
}

.btn--primary {
  background-color: var(--color-1);
  border-color: var(--color-1);
  color: var(--color-white);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: var(--color-black);
}

.btn--small {
    height: 4.8rem;
    line-height: 4.4rem;
}
