.services {
  background-color: var(--color-bg);
  padding-top: 12rem;
  padding-bottom: 6rem;

  .column > .section-title {
    margin-bottom: 6.4rem;
  }
}

.services__intro {
    margin-bottom: 2rem;
}

.services__list {
    margin-top: 6rem;
}

.item-service {
    margin-bottom: 4rem;
    padding-right: 2rem;

    > .item-title {
        margin-bottom: 1.6rem;
    }
}

.service-icon {
    display: block;
    width: 6.4rem;
    height: 6.4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 2rem;
}

/* Icon Mappings - assuming images are in public/images/icons/services/ */
/* Icon Mappings handled in JS via inline styles for dynamic path resolution */


@media screen and (max-width: 800px) {
    .item-service {
        padding-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .service-icon {
        margin-inline: auto;
    }
}
